html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1.5;
    position: relative;
    z-index: 0;
    font-family: Garamond;
    color: black;
    font-size: 18px;
    box-sizing: border-box;
    background-image: url('../images/background.jpg');
    background-size: contain;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

    nav ul {
        list-style: none;
    }

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

a {
    color: purple;
}

input, select {
    vertical-align: middle;
}

header {
    position: relative;
    margin-top: 47px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color:rgb(255,255,255);    
}

#menu-btn {
    display: none;
}
.nav {
    display:block;
    position: fixed;
    z-index: 1;
    border-color: black;
    top: 0px;
    left: 0px;
    background-color: white;
    width: 100%;
}

    .nav .nav-element {
        padding: 10px;
        position: relative;
        display: inline-block;
        min-width: 3%;
        text-align: center;
    }

.nav-element:hover {
    border-bottom: solid;
    border-bottom-color: red;
}

.nav-element a {
    color: red;
    text-decoration: none;
}

#content {
    position: relative;
    margin-left: 35px;
    margin-right: 35px;
    border: 0;
    background-color: rgb(255,255,255);
}

#landingPage {
    padding: 10px;
    position: relative;
}

h1 {
    text-align: center;
}

#landingPage #landingTag {
    color: red;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

#informationalPage {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

    #informationalPage #informationSection {
        position: relative;
        border-right: solid;
        vertical-align: top;
        width: 31%;
        padding: 5px;
    }

        #informationalPage #informationSection a {
            color: red;
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
        }

#formPage {
    position: relative;
    clear: both;
    border-top: solid;
    border-color: black;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#form {
    border:solid; 
    text-align:center;
}

#formPage a {
    color: red;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
#form tr{
    border:solid;
}

    #form tr td{
        padding:5px;
        border:solid;
        text-align:left;
    }

#photoGalleryPage {
    position: relative;
    border-top:solid;
    margin-bottom: 47px;
    height:100%;
    width:100%;
}

#photoGalleryPage a {
        color: red;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
}

.imageContainer {
    padding:20px;
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.imageContainer .imageContainer {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align:center;
    align-items:center;
}
footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 10px;
    color:red;
}